---
import GeoLocation from "../components/GeoLocation.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Cloudflare Geolocation</title>
	</head>
	<body>
		<h1>Cloudflare Geolocation</h1>

		<GeoLocation server:defer />
	</body>
</html>

<style>
	* {
		font-family: sans-serif;
	}
</style>