---
import GeoLocation from "../components/GeoLocation.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Cloudflare Geolocation</title>
	</head>
	<body>
		<h1>Cloudflare Geolocation</h1>

		<GeoLocation server:defer />
	</body>
</html>

<style is:global>
	body {
		font-family: sans-serif;
		text-align: center;
		padding-block-start: 35dvh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	}
	h1 {
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}
	h2 {
		font-size: 3rem;
		font-weight: 300;
		margin: 0;
	}
</style>
