---
const countryCode = Object.fromEntries(Astro.request.headers)?.[
  "cf-ipcountry"
]?.toLowerCase();
const euCodes = [
  "at",
  "be",
  "bg",
  "hr",
  "cy",
  "cz",
  "dk",
  "ee",
  "fi",
  "fr",
  "de",
  "gr",
  "hu",
  "ie",
  "it",
  "lv",
  "lt",
  "lu",
  "mt",
  "nl",
  "pl",
  "pt",
  "ro",
  "sk",
  "si",
  "es",
  "se",
];

// Default usd
let geolocatedCurrency = "usd";

// If gb
if (countryCode === "gb") {
  geolocatedCurrency = "gbp";
}
// If in eu
else if (euCodes.includes(countryCode)) {
  geolocatedCurrency = "eur";
}
---

<h1>geolocatedCurrency: {geolocatedCurrency}</h1>
