---
const countryCode = Astro.request.headers.get("cf-ipcountry")?.toLowerCase();

const euCodes = [ "at", "be", "bg", "hr", "cy", "cz", "dk", "ee", "fi", "fr", "de", "gr", "hu", "ie", "it", "lv", "lt", "lu", "mt", "nl", "pl", "pt", "ro", "sk", "si", "es", "se" ];

// Default usd
let geolocatedSymbol = "$";
let geolocatedPrice = "19.99";

// If gb
if (countryCode === "gb") {
  geolocatedSymbol = "£";
  geolocatedPrice = "29.99";
}
// If in eu
else if (euCodes.includes(countryCode)) {
  geolocatedSymbol = "€";
  geolocatedPrice = "39.99";
}
---

<h2>
  Price: {geolocatedSymbol + geolocatedPrice}
</h2>
